<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table" border="1px">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Action</th>
    </tr>
    <tr th:each="users:${usersList}">
        <td th:name="id" th:text="${users.getId()}">
        </td>
        <td th:text="${users.getName()}"></td>
        <td th:text="${users.getSurname()}"></td>
        <td th:text="${users.getAge()}"></td>
        <td>
            <a th:href="@{'/users/edit?id='+ ${users.getId()}}">
                <button>Изменить</button>
            </a>
            <a th:href="@{'/users/remove?id='+ ${users.getId()}}">
                <button>Удалить</button>
            </a>
        </td>
    </tr>
</table>
<br>
<a th:href="@{/users/addUser}">
    <button>Добавить</button>
</a>
</div>
</body>
</html>